   @font-face {
  font-family: Plantin;
  src: url('/fonts/PlantinStd.otf');
}
#page_2 {position:relative; display: block; overflow: hidden;margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 3em; padding: 2em;border: none;width: 800px;}
#page_2 #id2_1 {border:none;margin: 0px 0px 0px 11px;padding: 0px;border:none;width: 1198px;overflow: hidden;}
#page_2 #id2_1 #id2_1_1 {float:left;border:none;margin: 292px 0px 0px 0px;padding: 0px;border:none;width: 526px;overflow: hidden;}
#page_2 #id2_1 #id2_1_2 {float:left;border:none;margin: 0px 0px 0px 117px;padding: 0px;border:none;width: 555px;overflow: hidden;}
#page_2 #id2_2 {border:none;margin: 31px 0px 0px 0px;padding: 0px;border:none;width: 1209px;overflow: hidden;}


#page_2 a{text-decoration: underline;}
#page_2 a:hover{text-decoration: underline;color: orange;}


.ft0{font: 16px 'Helvetica Neue';line-height: 18px;}
.ft1{font: 13px 'Helvetica Neue';line-height: 16px; width: 250px;}
.ft2{font: 11px 'Helvetica Neue';line-height: 13px;}
.ft3{font: 11px 'Helvetica Neue';line-height: 9px;}
.ft4{font: 11px 'Helvetica Neue';line-height: 14px;}
.ft5{font: 13px 'Helvetica Neue';line-height: 15px;}
.ft6{font: 1px 'Helvetica Neue';line-height: 1px;}
.ft7{font: 1px 'Helvetica Neue';line-height: 7px;}

.p0{text-align: left;padding-left: 1016px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: right;padding-right: 11px;margin-top: 142px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 11px;margin-top: 118px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 171px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: right;padding-right: 865px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 293px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 96px;margin-top: 1px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 96px;margin-top: 0px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 379px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 147px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 222px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 34px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 432px;vertical-align: bottom;}

.tr0{height: 20px;}
.tr1{height: 29px;}
.tr2{height: 16px;}
.tr3{height: 18px;}
.tr4{height: 31px;}
.tr5{height: 15px;}
.tr6{height: 23px;}
.tr7{height: 8px;}
.tr8{height: 7px;}
.tr9{height: 30px;}

.t0{width: 526px;font: 13px 'Helvetica Neue';}
.t1{font: 13px 'Helvetica Neue';}
.nw{white-space: nowrap;}
.sm{transform: translateX(-100px)}