 @font-face {
  font-family: Plantin;
  src: url('/fonts/PlantinStd.otf');
}
   body{
   	 user-select: none;
   	background-image:url("shervin/bgshervsmini.jpg");
    background-size: auto 75%;
   	background-repeat: no-repeat;
   	  background-attachment: fixed;
  background-position: center; 
   	  font-family: Plantin;
   }
   @media screen and (max-width: 768px) {
  body {
   	background-image:url("/bgshervsminigsm.jpg");
    background-size:cover;
  }
      }
   
   #cvpopup{
   	position:relative;
   	top:0em;
  display: none;
   }
	@media screen and (max-width: 768px) {
  #cvpopup {
zoom:0.65;  }
      }
   
    #instapopup{
   	position:relative;
   	top:0;
  display: none;
    }
	
	#pubpopup{
		padding:2em 1em;
	text-align:center;
   	position:relative;
   	top:0;
  display: none;
    }
	
   .close{
   	position: absolute;
   	top:-0.5em;
   	font-size:3rem;
   right:1em;
   z-index:20;
   }
	   @media screen and (max-width: 768px) {
  .close {
   right:0em;  }
      }
   .close:hover{
   	color:silver;
   	cursor:pointer;
   } 
   ul{
   	text-align:right;
   	position: fixed;
  font-family: Plantin;
  bottom:0;
  right:0;
  margin:2em;
	   z-index:2;
	     list-style-type: none;
cursor:pointer;
   }
   li{
   	font-family:Plantin;
   	position:relative;}
	
	.nested{display:none;
	position:relative;
	background-color:transparent;
	text-align:left;}
	
	.active {
  display: block;
}

   a{
   	color:black;
   	  text-decoration: none;
}
   a:hover
   {color:silver;}
   
   h1{
   	z-index:2;
   	text-align:center;
   	font-size:1rem;
   	position: relative;
margin: 2em 1em;
   font-family: Arial, sans-serif;
font-weight: 300;
   }
   #pdf{
 zoom:1.2;   }
    @media screen and (max-width: 768px) {
#pdf{
	zoom:0.2;}}
   svg{
	   font-family: Arial, sans-serif;
	     pointer-events: none;
  position:fixed;
  height:190%;
  width:100vw;
  font-size:1.2rem;
  margin:auto;
  z-index:-1;
}
   @media screen and (max-width: 768px) {
svg{
height:auto;
width:95vw;}}

h2{font-size:1rem;
font-weight:bold;
font-family:Arial, sans-serif;
margin-top:2em;}
p{font-family:Plantin;
font-size:0.8;}
  
span.cls_003{white-space: nowrap;font-family:Arial,serif;font-size:1em;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{white-space: nowrap;font-family:Arial,serif;font-size:1em;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{  white-space: nowrap;font-family:Plantin,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{  white-space: nowrap;font-family:Plantin,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{  white-space: nowrap;font-family:Arial,serif;font-size:0.5rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{  white-space: nowrap;font-family:Arial,serif;font-size:0.5rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_003{  white-space: nowrap;font-family:Arial,serif;font-size:0.7rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{  white-space: nowrap;font-family:Arial,serif;font-size:0.7rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{  white-space: nowrap;font-family:Plantin,serif;font-size:0.7rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{  white-space: nowrap;font-family:Plantin,serif;font-size:0.7rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{  white-space: nowrap;font-family:Arial,serif;font-size:0.8rem;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

* {box-sizing: border-box}
.mySlides,.mySlides1,.mySlides2,.mySlides3,.mySlides4 {display: none;
position: relative;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
	z-index:20;
  cursor: pointer;
position: absolute;
  top: 50%;
    width: auto;
  padding:16px;
  margin-top: -22px;
  color: black;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dot {
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: black;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

	   
#insta1{
	pointer-events:none;max-width:1000px;text-align:center;margin: auto;}
@media screen and (min-width: 2500px) {
  #insta1 {
max-width:1000px;  }
      }
#overlay{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:white;
	opacity:0.9;
	z-index:-1;}
	